.content_search{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content_sub_search{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.content_sub_search mat-form-field{
  width: 250px;
}
mat-form-field {
  position: relative;
  margin-top: 60px;
  width: 60%;
}

